@import "partials/mixins";
@import "partials/variables";
html{
    font-size: 62.5%;
    @include tb{
        font-size: 82.5%;
    }
}

body{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: #2D2D2D;
}

a{
    text-decoration: none;
    transition: 0.2s;
    color: #2D2D2D;
    &:hover{
        opacity: 0.6;
    }
}

ul,li{
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 15px;
    &__logo{
        & img{
            width: 200px;
        }
    }
    &__nav{
        display: flex;
        width: 400px;
        justify-content: space-between;
        @include tb{
            width: 380px;
        }
        & a{
            color: #D46258;
        }
    }
    &__cart{
        width: 200px;
        text-align: right;
        @include tb{
            width: 65px;
        }   
        img{
        width: 65px;
        height: 65px;

    }
    }
}

.headline{
    text-align: center;
    color: #fff;
    position: relative;
    &__bg{
        width: 100%;
        position: relative;
        background-image: url("/images/flower-bkgd.jpg");
        background-size: cover;
        height: 680px;
        @include tb{
            height: 500px;
        }
        &::after{
            background-color: rgba(0,0,0,0.3); 
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            content:"";
        }
        &--main{
            & img{
            width: 100%;
            height: 100%;
        }
        }
        &--girl{
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%,0%);
            img{
                width: 300px;
            }
        }
    }
    &__title{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        &--sub{
            font-size: 3rem;
            margin: 10px 0;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
        &--main{
            font-family: $headline-font;
            font-size: 6rem;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
            margin: 10px 0;
            font-weight: normal;
        }
    }
}

.container{
    &__headline{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 60px;
        &--h2{
            font-family: 'Playfair Display', serif; 
            font-style: italic;
            font-size: 3.5rem;
            font-weight: 400;
            padding-bottom: 20px;
        & span{
            font-style: normal;
            font-weight: 900;
        }
    }
    &--p{
        line-height: 2;
    }
    }
}

.styles{
    &__flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        &Item{
            margin-top: 5px;
            margin-right: 5px;
            flex-basis: 25%;
            height: 360px;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #ffffff;
            font-size: 2.8rem;
            position: relative;
            p{
            z-index: 1;
            }
            &::after{
                background-color: rgba(0,0,0,0.3); 
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                content:"";
            }
            &:nth-of-type(1){ 
                background-image: url("/images/mens-category.jpg");
                flex-grow: 1;
            }
            &:nth-of-type(2){ 
                background-image: url("/images/trends-category.jpg");
            }
            &:nth-of-type(3){ 
                background-image: url("/images/glasses-category.jpg");
                margin-right: 0;
            }
            &:nth-of-type(4){ 
                background-image: url("/images/sale-category.jpg");
            }
            &:nth-of-type(5){ 
                background-image: url("/images/bags-category.jpg");
            }
            &:nth-of-type(6){ 
                background-image: url("/images/womens-category.jpg");
                flex-grow: 1;
                margin-right: 0;
            }
    }
    }
}

.products{
    margin-bottom: 80px;
    &__slider{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 40px;
    }
    &__item{
        flex-basis: 20%;
        display: inline-block;
        text-align: center;
        &Category{
            font-size: 1.1rem;
            color: #969696;
            margin-bottom: 12px;
        }
        &Price{
            font-size: 1.3rem;
            color: #969696;
        }
        &Name{
            color: #D46157;
            font-family: $headline-font;
            font-weight: 300;
            font-size: 2.1rem;
            margin-bottom: 12px;
        }
        & img{
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.updates{
    position: relative;
    margin-bottom: 15px;
    &__bg{
        background-image: url("../images/wave-bkgd.jpg");
        background-size: cover;
        height: 380px;
        width: 100%;
        &::after{
            background-color: rgba(0,0,0,0.2); 
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            content:"";
        }
    }
    &__content{
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    &__title{
        font-family: $headline-font;
        text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
        font-size: 4rem;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 30px;
        & span{
            font-weight: 600;
            font-style: normal;
        }
    }
    &__desc{
        line-height: 2.5;
        font-size: 1.8rem;
        margin-bottom: 40px;
    }
    &__form{
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    &__email{
        width: 100%;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 15px 15px 15px 30px;
    }
    &__submit{
        background-color: #D46157;
        padding: 10px 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 5px;
        border-radius: 50px;
        color: #ffffff;
    }
}

.footer{
    color: #ffffff;
    background-color: #242424;
    padding: 60px 100px 60px 40px;
    &__flex{
        display: flex;
        justify-content: space-between;
        height: 140px;
    }
    & a{
        color: #ffffff;
    }
    &__desc{
        font-family: $headline-font;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &Address{
            color: #8f8f8f;
        }
    }
    &__forrow{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}