@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Medium.woff2") format("woff2"), url("fonts/Raleway-Medium.woff") format("woff"), url("fonts/Raleway-Medium.ttf") format("truetype"), url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-LightItalic.eot");
  src: url("fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-LightItalic.woff2") format("woff2"), url("fonts/Raleway-LightItalic.woff") format("woff"), url("fonts/Raleway-LightItalic.ttf") format("truetype"), url("fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-MediumItalic.eot");
  src: url("fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-MediumItalic.woff2") format("woff2"), url("fonts/Raleway-MediumItalic.woff") format("woff"), url("fonts/Raleway-MediumItalic.ttf") format("truetype"), url("fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Raleway-Light.woff2") format("woff2"), url("fonts/Raleway-Light.woff") format("woff"), url("fonts/Raleway-Light.ttf") format("truetype"), url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("fonts/PlayfairDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"), url("fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("fonts/PlayfairDisplay-Italic.woff") format("woff"), url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"), url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("fonts/PlayfairDisplay-Regular.woff") format("woff"), url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"), url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("fonts/PlayfairDisplay-Bold.woff") format("woff"), url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"), url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

@media (min-width: 415px) and (max-width: 980px) {
  html {
    font-size: 82.5%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: #2D2D2D;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #2D2D2D;
}

a:hover {
  opacity: 0.6;
}

ul, li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px 15px;
}

@media (max-width: 415px) {
  .header__flex {
    border-bottom: 1px solid #D7D7D7;
    margin: 0 10px;
    padding: 20px 0;
  }
}

.header__logo img {
  width: 200px;
}

@media (max-width: 415px) {
  .header__logo img {
    width: 35vw;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 415px) and (max-width: 980px) {
  .header__nav {
    width: 360px;
  }
}

.header__nav a {
  color: #D46258;
}

.header__nav--sp {
  display: none;
}

@media (max-width: 415px) {
  .header__nav--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    margin: 0 auto;
    font-size: 4vw;
    padding: 20px 0;
  }
}

@media (max-width: 415px) {
  .header__nav--pc {
    display: none;
  }
}

.header__cart {
  width: 200px;
  text-align: right;
}

@media (min-width: 415px) and (max-width: 980px) {
  .header__cart {
    width: 65px;
  }
}

.header__cart img {
  width: 65px;
  height: 65px;
}

@media (max-width: 415px) {
  .header__cart img {
    width: 14vw;
    height: 14vw;
  }
}

.headline {
  text-align: center;
  color: #fff;
  position: relative;
}

.headline__bg {
  width: 100%;
  position: relative;
  background-image: url("/images/flower-bkgd.jpg");
  background-size: cover;
  height: 680px;
}

@media (min-width: 415px) and (max-width: 980px) {
  .headline__bg {
    height: 500px;
  }
}

@media (max-width: 415px) {
  .headline__bg {
    height: 400px;
  }
}

.headline__bg::after {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
}

.headline__bg--main img {
  width: 100%;
  height: 100%;
}

.headline__bg--girl {
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.headline__bg--girl img {
  width: 300px;
}

@media (min-width: 415px) and (max-width: 980px) {
  .headline__bg--girl img {
    width: 215px;
  }
}

@media (max-width: 415px) {
  .headline__bg--girl img {
    width: 40vw;
  }
}

.headline__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.headline__title--sub {
  font-size: 3rem;
  margin: 10px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

@media (min-width: 415px) and (max-width: 980px) {
  .headline__title--sub {
    font-size: 2.3rem;
  }
}

@media (max-width: 415px) {
  .headline__title--sub {
    font-size: 2rem;
  }
}

.headline__title--main {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  font-weight: 300;
}

.headline__title--main br {
  display: none;
}

@media (max-width: 415px) {
  .headline__title--main br {
    display: block;
  }
}

@media (min-width: 415px) and (max-width: 980px) {
  .headline__title--main {
    font-size: 4.5rem;
  }
}

@media (max-width: 415px) {
  .headline__title--main {
    font-size: 3.5rem;
  }
}

.container__headline {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

@media (max-width: 415px) {
  .container__headline {
    margin-bottom: 20px;
  }
}

.container__headline--h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.container__headline--h2 span {
  font-style: normal;
  font-weight: 900;
}

@media (min-width: 415px) and (max-width: 980px) {
  .container__headline--h2 span {
    font-weight: 700;
  }
}

.container__headline--p {
  line-height: 2;
  padding: 0 30px;
  font-size: 1.8rem;
  font-weight: 200;
}

@media (max-width: 415px) {
  .container__headline--p {
    padding: 0 10px;
  }
}

.container__headline--p br {
  display: none;
}

@media (min-width: 980px) {
  .container__headline--p br {
    display: inline;
  }
}

.styles__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.styles__flexItem {
  margin-top: 5px;
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 300px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.8rem;
  position: relative;
}

@media (min-width: 415px) and (max-width: 980px) {
  .styles__flexItem {
    height: 210px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 415px) {
  .styles__flexItem {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 190px;
    margin-right: 8px;
    margin-top: 8px;
  }
}

.styles__flexItem p {
  z-index: 1;
}

.styles__flexItem::after {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
}

.styles__flex--1 .styles__flexItem:nth-of-type(1) {
  background-image: url("/images/mens-category.jpg");
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 10px;
}

@media (min-width: 415px) and (max-width: 980px) {
  .styles__flex--1 .styles__flexItem:nth-of-type(1) {
    padding-left: 20px;
  }
}

@media (max-width: 415px) {
  .styles__flex--1 .styles__flexItem:nth-of-type(1) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
}

.styles__flex--1 .styles__flexItem:nth-of-type(2) {
  background-image: url("/images/trends-category.jpg");
}

.styles__flex--1 .styles__flexItem:nth-of-type(3) {
  background-image: url("/images/glasses-category.jpg");
  margin-right: 0;
}

.styles__flex--2 .styles__flexItem:nth-of-type(1) {
  background-image: url("/images/sale-category.jpg");
}

.styles__flex--2 .styles__flexItem:nth-of-type(2) {
  background-image: url("/images/bags-category.jpg");
}

@media (max-width: 415px) {
  .styles__flex--2 .styles__flexItem:nth-of-type(2) {
    margin-right: 0;
  }
}

.styles__flex--2 .styles__flexItem:nth-of-type(3) {
  background-image: url("/images/womens-category.jpg");
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 0;
}

.products {
  margin-bottom: 80px;
}

.products__slider {
  width: 100%;
  padding-bottom: 40px;
}

.products__item {
  width: 20%;
  display: inline-block;
  text-align: center;
}

.products__itemCategory {
  font-size: 1.1rem;
  color: #969696;
  margin-bottom: 12px;
}

.products__itemPrice {
  font-size: 1.3rem;
  color: #969696;
}

.products__itemName {
  color: #D46157;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 2.1rem;
  margin-bottom: 12px;
}

.products__item img {
  max-width: 100%;
  margin: 0 auto;
}

.updates {
  position: relative;
  margin-bottom: 10px;
}

.updates__bg {
  background-image: url("../images/wave-bkgd.jpg");
  background-size: cover;
  height: 380px;
  width: 100%;
}

.updates__bg::after {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
}

.updates__content {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

@media (max-width: 415px) {
  .updates__content {
    width: 100%;
  }
}

.updates__title {
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 30px;
}

.updates__title span {
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 415px) {
  .updates__title {
    font-size: 6vw;
  }
}

.updates__desc {
  line-height: 2.5;
  font-size: 1.8rem;
  margin-bottom: 40px;
  font-weight: 300;
}

@media (min-width: 415px) and (max-width: 980px) {
  .updates__desc {
    line-height: 2.1;
  }
  .updates__desc br {
    display: none;
  }
}

@media (max-width: 415px) {
  .updates__desc {
    font-size: 1.8rem;
  }
  .updates__desc br {
    display: none;
  }
}

.updates__form {
  position: relative;
  width: 43%;
  margin: 0 auto;
}

@media (min-width: 415px) and (max-width: 980px) {
  .updates__form {
    width: 70%;
  }
}

@media (max-width: 415px) {
  .updates__form {
    width: 85%;
  }
}

.updates__email {
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px 15px 15px 30px;
}

.updates__email::-webkit-input-placeholder {
  color: #b3b3b3;
}

.updates__email:-ms-input-placeholder {
  color: #b3b3b3;
}

.updates__email::-ms-input-placeholder {
  color: #b3b3b3;
}

.updates__email::placeholder {
  color: #b3b3b3;
}

.updates__submit {
  background-color: #D46157;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 5px;
  border-radius: 50px;
  color: #ffffff;
}

.footer {
  color: #ffffff;
  background-color: #242424;
  padding: 60px 100px 60px 40px;
}

@media (min-width: 415px) and (max-width: 980px) {
  .footer {
    padding: 60px 50px 80px 20px;
  }
}

@media (max-width: 415px) {
  .footer {
    padding: 50px 50px 80px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px;
}

@media (min-width: 415px) and (max-width: 980px) {
  .footer__flex {
    height: 200px;
  }
}

@media (max-width: 415px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer a {
  color: #ffffff;
}

.footer__desc {
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 415px) {
  .footer__desc {
    padding-bottom: 20px;
  }
}

@media (max-width: 415px) {
  .footer__descItem {
    padding-bottom: 10px;
    font-weight: 300;
  }
}

.footer__descItem a {
  text-decoration: underline;
}

.footer__descAddress {
  color: #8f8f8f;
}

.footer__forrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
}

@media (max-width: 415px) {
  .footer__forrow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 45vw;
    margin: 0 auto;
  }
}

.footer__forrow .fab {
  width: 35px;
}

@media (max-width: 415px) {
  .footer__forrow span {
    display: none;
  }
}
